<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>

    <script type = "text/javascript">  
        function callApiEnable() {  
            
            var tokenUser = window.location.pathname.split("/").pop()


            $.ajax({
                        // todo: sbagliato, devi chiamare il tuo server e internamente il tuo server contatta il backend
                        url: 'http://localhost:3000/api/auth/validate/user/'+tokenUser,
                        type: 'GET', //send it through get method
                        dataType: "json",
                    
                        success: function(data, textStatus, xhr) {


                            
                        },
                        error: function(xhr, status, error) {
                            alert("Auth ko")
                            console.log(xhr.responseText);

                        }
                    });




        }  
</script> 



<meta http-equiv="refresh" content="3; url=/login">

</head>



<body class="enable-user" style="background-color: #afdadc" onload="callApiEnable()" >

    ACCOUNT ATTIVO ==> <a href="../login"> CLICCA QUI </a>

</body>
    




</html>