<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>

    

<meta http-equiv="refresh" content="3; url=/login">

</head>



<body class="enable-user" style="background-color: #afdadc"  >

    ACCOUNT ATTIVO ==> <a href="../login"> CLICCA QUI </a>

</body>
    




</html>