<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ordinazione</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      
    <!-- Style CSS -->
    <link rel="stylesheet" href="./custom/css/style.css">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="./custom/css/demo.css">
	<link rel="stylesheet" href="./custom/css/category.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./custom/js/ordinazioni.js"></script>
  
  </head>
  <body onload="listCategorieselect(), listTablesSelect()">
 <header class="intro" style="background-color: #43aca0;">


 <h1>ORDINE PER: <select  id="tables">
  
 </select></h1>

 <p>Seleziona la categoria e le portate per creare l'ordine</p>

 <div class="action">
 <a href="https://www.codehim.com/html5-css3/javascript-shopping-cart-with-total-price/" title="Back to download and tutorial page" class="btn back">Invia Ordine</a>
 </div>
 </header>
  
 <main>
    <center>
      <div class="box">
        <select id="select_categories"></select>
      </div>

  </center>
  
     <!-- Start DEMO HTML (Use the following code into your project)-->
 <div class="container ">

  <div class="screen-togo">
    <h2 id="categoriaSelected"></h2>
    
    <ul class="menu-items">
      <!--    Menu Item 1    
      <li class="menu-item">
        <img src="./custom/img/plate__french-fries.webp" alt="French Fries with Ketchup" class="menu-image">
        <div class="menu-item-dets">
          <p class="menu-item-heading">French Fries with Ketchup</p>
          <p class="g-price">€2.23</p>
        </div>
        <button
          class="add-button"
          data-title="French Fies with Ketchup"
          data-price="2.23">Add to Cart</button>
      </li>
    -->
    </ul>
  </div>
  <div class="screen-cart">
    <h2>Ordine</h2>
    <!--  Cart Items -->
    <ul class="cart-items">
    </ul>
    
    <div class="cart-math">
      <p>Aggiungi portata</p>
    </div>
  </div>
</div>    
     <!-- END EDMO HTML (Happy Coding!)-->
 </main>
 
      
  
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      
<!-- Shopping Cart Js -->
<script src="./custom/js/script.js"></script>     
      
  </body>
</html>