<!DOCTYPE html>
<html>

<head>

  <title>Crea portata</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="pagestyle2" href="../custom/css/dish.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../custom/js/globals.js"></script>
  <script src="../custom/js/dish.js"></script>




<style>

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-left {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  flex-basis: 30%;
}

.card-right {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: 70%;
}


</style>



</head>










<body>
  <div class="card-container">
    <div class="card-left">
      <!-- Contenuto della prima card -->
      <!-- CREO LA CARD DI SINISTRA-->

    <!--  PORTATA PRODOTTO -->
    <label for="search">Nome Portata:</label>
    <input type="text" id="search" name="search" autocomplete="off">

    <ul id="product-list"></ul>

<!-- FUNZIONE COMPLETAMENTO API DI FOODFACT-->


    <script>
      const searchInput = document.querySelector('#search');
      const productList = document.querySelector('#product-list');
  
  
      searchInput.addEventListener('input', async (event) => {
        const searchTerm = event.target.value;
        if (searchTerm.length < 2) {
          productList.innerHTML = '';
          return;
        }
  
        const response = await fetch(`https://it.openfoodfacts.org/cgi/search.pl?search_terms=${searchTerm}&search_simple=1&action=process&json=1&fields=product_name_it`);
        const data = await response.json();
        const products = data.products.filter(product => {
          const productName = product.product_name_it;
          return productName && (productName.toLowerCase() === searchTerm.toLowerCase() || productName.toLowerCase().startsWith(`${searchTerm.toLowerCase()} `));
        });
  
        productList.innerHTML = '';
        products.forEach(product => {
          const li = document.createElement('li');
          li.textContent = product.product_name_it;
          li.addEventListener('click', () => {
            searchInput.value = product.product_name_it;
            productList.innerHTML = '';
          });
          productList.appendChild(li);
        });
      });
  
      // Nasconde la lista dei prodotti quando si clicca fuori dall'input
      document.addEventListener('click', (event) => {
        if (event.target !== searchInput && event.target !== productList) {
          productList.innerHTML = '';
        }
      });
    </script>



    <!--  INGREDIENTI -->
    <label>Descrizione:</label>
    <div class="tag-input-container">
      <div class="tag-input">
        <input type="text" id="tag-input" placeholder="Clicca ENTER per aggiungere l'ingrediente.">
        <input type="hidden" id="descrizione" name="descrizione">
      </div>
      <div class="tags-container"></div>
    </div>










    <!--ALLERGENI -->

    <section>

      <details>
        <summary>
          Vuoi aggiungere allergeni?
        </summary>
        <p>
        <table id="checkbox-table">
          <thead>

          </thead>
          <tbody></tbody>
        </table>
        </p>
      </details>

    </section>




    <section>
      <!-- CATEGORIE-->
      <details>
        <summary>
          Vuoi assegnare una categoria?
        </summary>
        <p>

          <select id="select_elementi"></select>
        <div class="input-container">
          <input type="text" placeholder="Categoria Personalizzata..." id="input_nuovo_elemento">
          <button type="buttonAddCtg" id="btn_aggiungiCtg">Aggiungi</button>
        </div>
        </p>
      </details>

    </section>


    <p> <label>Prezzo (euro):</label>
      <input type="text" id="price"></input>
    </p>

    <button id="add_portata" onclick="addPortata()"> Crea Portata </button>




  </div>

   
    <div class="card-right">
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="my-custom-table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Portata</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Ingredienti</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Allergeni</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Categoria</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody id="myTable">
             
          </table>
        </div>
      </div>    </div>
  </div>
  

</body>



</body>

</html>